[buildout]
# Same extends as the sister packages (plone.mls.core, plone.mls.listing):
# plone-5.1.x.cfg pulls in the Plone 5.1 known good version set and
# buildout.plone/common.cfg adds Propertyshelf's Python 2.7 pins for the QA and
# release tool chain. The older propertyshelf/buildout repo this used to extend
# defines parts but no pins at all, so every dependency floated to its latest,
# Python 3 only release.
#
# This package has no Plone dependency; only the pins and the shared part
# definitions are used from those configs -- the [test] part below deliberately
# does not pull in Plone.
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/plone-5.1.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.githubusercontent.com/propertyshelf/buildout.plone/master/common.cfg

develop = .
versions = versions
package-name = mls.apiclient
package-extras = [test]
package-min-coverage = 80

# Assignment, not +=, so the [instance] part inherited from plone-5.1.x.cfg is
# dropped -- there is no Plone site to run here.
parts =
    test
    code-analysis
    createcoverage
    coverage-sh
    rebuild_docs-sh
    releaser
    sphinxbuilder


[test]
recipe = zc.recipe.testrunner
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']
eggs = ${buildout:package-name} ${buildout:package-extras}


[code-analysis]
directory = ${buildout:directory}/src/mls


# The shared definition builds the docs against ${instance:eggs}, which would
# drag the whole Plone instance in here. Build them against the test eggs.
[sphinxbuilder]
eggs =
    ${test:eggs}
    sphinx_rtd_theme
    ${buildout:sphinx_extras}


[versions]
